<span class="article-rating">{{article.rating}}</span><h3 class="news-title">{{article.title}}</h3>
at <a ng-href="{{article.link}}" class="article-link">{{article.link}}</a>
<span class="article-author">posted by {{article.author}}</span>
<span class="article-comments"><strong>{{article.comments.length}}</strong> comments</span>
<div>
  <p class="custom-btn" ng-click="toggleCommentForm()">Add comment</p>
  <p class="custom-btn delete-btn" ng-click="deleteArticle()">Delete article</p>
</div>
<div class="comment-form" ng-show="isShowCommentForm">
  <form ng-submit="submitComment(comment, article.title)">
    <p>Please, type here your comment!</p>
    <textarea name="title" rows="8" cols="80" ng-model="comment" required></textarea>
    <input type="submit" value="SUBMIT" class="submit-btn">
  </form>
</div>
<div class="comments-container">
  <div class="comment" ng-repeat="comment in article.comments">
    <div>
      <span>Author: </span>
      <a ui-sref="users({ username: comment.author })">{{comment.author}}</a>
    </div>
    <div>
      <span>Comment: </span>
      <span>{{comment.comment}}</span>
    </div>
  </div>
</div>
