<h1>User panel</h1>
<h2>Username: {{user.username}}</h2>
<div>
  <p class="custom-btn" ng-if="!user.password" ng-click="logout()">Logout</p>
  <p class="custom-btn" ng-if="!user.password" ng-click="deleteUser()">Delete account</p>
</div>
<h2>Your comments</h2>
<div class="comments-container">
  <div class="comment" ng-repeat="comment in user.comments">
    <div>
      <span>Article: </span>
      <a ui-sref="article({ id: comment.article })">{{comment.title}}</a>
    </div>
    <div>
      <span>Comment: </span>
      <span>{{comment.comment}}</span>
    </div>
    <div>
      <span>Date: </span>
      <span>{{comment.date | date: 'medium'}}</span>
    </div>
  </div>
</div>
