<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Lamer News</title>
    <link rel="stylesheet" href="/app/stylesheets/styles.css">
  </head>
  <body>
    <base href='/'>
    <header class="main-header">
      <a href="#" class="logo"><img src="" alt=""></a>
      <ul class="navigation-list" login-check>
        <li><a href="#">Top</a></li>
        <li><a ui-sref="latest">Latest</a></li>
        <li><a ui-sref="random" ui-sref-opts="{reload:true}">Random</a></li>
        <li><a ui-sref="submit">Submit new</a></li>
        <li><a ui-sref="login" ng-if="!isLogined">Login</a></li>
        <li><a ui-sref="users({ username })" ng-if="isLogined">{{username}}</a></li>
        <li><a ui-sref="register" ng-if="!isLogined">Register</a></li>
      </ul>
    </header>
    <main>
      <list-articles></list-articles>
      <div ui-view class="ui-container"></div>
    </main>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script src="app/app.js"></script>
    <script src="app/components/singleArticle/singleArticle.js"></script>
    <script src="app/components/listArticles/listArticles.js"></script>
    <script src="app/components/login/login.js"></script>
    <script src="app/components/user/user.js"></script>
    <script src="app/components/submit/submit.js"></script>
    <!-- <script src="/app/bundle.js"></script> -->
  </body>
</html>
