* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.navigation-list a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.navigation-list li {
  display: inline-block;
}

.navigation-list a {
  color: black;
  font-weight: 700;
}

.main-list li:hover,
.navigation-list li:hover {
  background: #eee;
}

.main-list .title {
  display: inline-block;
}

.title {
  color: black;
}

.main-list h3 {
  display: inline-block;
}

main {
  white-space: nowrap;
}

.main-list {
  color: #a4a7a9;
}

.ui-container,
list-articles {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  white-space: normal;
}

.ui-container,
list-articles li {
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 5px;
}

.article-link,
.article-author,
.article-author a {
  text-decoration: none;
  color: #a4a7a9;
}

.article-author span a {
  color: #494f52;
  font-weight: 550;
}

.article-comments {
  color: #636a6d;
}

.comment {
  margin: 10px 0;
  padding-top: 10px;
  border-top: 1px solid black;
}

.comment:last-child {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.comment div {
  margin-bottom: 5px;
}

.custom-btn,
input[type="submit"] {
  width: 100px;
  height: 30px;
  margin: 5px 0;
  color: #627776;
  line-height: 30px;
  text-align: center;
  border: 1px solid rgba(202, 185, 185, 0.47);;
  border-radius: 20px;
  background: rgba(243, 241, 247, 0.55);
  transition: box-shadow 0.2s linear, background 0.2s linear;
}

.custom-btn:hover,
input[type="submit"]:hover {
  background: rgb(238, 236, 243);
  box-shadow: 1px 1px 2px rgb(14, 13, 13);
  cursor: pointer;
}

.custom-btn {
  display: inline-block;
}

.delete-btn:hover {
  background: rgba(255, 2, 2, 0.55);
}

.custom-btn:hover {
  cursor: pointer;
}

.submit-btn {
  display: block;
}

.comment-form {
  margin: 20px 0 40px 0;
}

.comment-form p {
  margin-bottom: 10px;
  color: rgba(38, 41, 41, 0.88);
  font-size: 18px;
}

.comment-form textarea {
  border-radius: 15px;
  padding: 5px;
}

.comment-form textarea:focus {
  outline: none;
}

.rate {
  width: 17px;
  height: 17px;
  color: rgba(132, 130, 134, 0.43);
  display: inline-block;
  text-decoration: none;
}

.rate-up {
  color: #1daf2b;
}

.rate-down {
  color: #af1d1d;
}

.article-rating {
  display: block;
  width: 18px;
  height: 18px;
  float: left;
  background: rgba(99, 225, 226, 0.45);
  border-radius: 9px;
  margin: 3px 5px 0 0;
  text-align: center;
  line-height: 18px;
  font-family: serif;
  font-weight: 600;
  color: black;
}

.article-upped {
  border: 
}