* {
  padding: 0;
  margin: 0;
}

.navigation-list li {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
